<!DOCTYPE html>
    <html>
        <head>
            <title>Tavalendo</title>
            <script src="../static/jsxgraphcore.js"></script>
            <link rel="stylesheet" type="text/css" href="../static/jsxgraph.css">
        </head>
        <body>

            <!--Criando o plano cartesiano-->
            <div id="box" class="jxgbox" style="width:500px; aspect-ratio: 1/1;"></div>
            <script>
                var board = JXG.JSXGraph.initBoard(
                    'box', {
                    boundingbox: [-10, 10, 10, -10],
                    axis: true
                    });
            </script>

            
            <article>
                <header>
                    <table>
                        <tr>
                            <!--Lugar para digitar os valores da Treliça-->
                            <input id="x" placeholder="X">
                            <input id="y" placeholder="Y">
                            <button id="Butao">Submit</button>

                            <!--Botão para conectar-->
                            <div>
                                <input id="prim" placeholder="Digite o primeiro ponto">
                                <input id="seg" placeholder="Digite o segundo ponto">
                                <button id="connect">Conectar</button>
                            </div>

                            <!--Adicionando as forças-->
                            <div>
                                <input id="ponto" placeholder="Digite um ponto">
                                <input id="modulo" placeholder="Digite a força">
                                <button id="ap_forca">Aplicar</button>
                            </div>
                            
                            
                            <th><button class="Treli"><a href=""></button></th>
                            <th><p><button class ="Metro"><a href=""></a></button></p></th>
                            <th><p><button class ="Angul"><a href=""></a></button></p></th>
                        </tr>
                    </table>
                </header>
            </article>
        </body>
        <!--Adicionar elementos-->
        <script src="../static/gridoir.js"></script>
    </html>
